*~
*/*~
*/*/*~
*/*/*/*~
*/*/*/*/*~

\#*\#
*/\#*\#
*/*/\#*\#
*/*/*/\#*\#
*/*/*/*/\#*\#

.\#*
*/.\#*
*/*/.\#*
*/*/*/.\#*
*/*/*/*/.\#*

*.fo
*/*.fo
*/*/*.fo
*/*/*/*.fo
*/*/*/*/*.fo

*.pdf
*/*.pdf
*/*/*.pdf
*/*/*/*.pdf
*/*/*/*/*.pdf

*.lo[tgf]
*/*.lo[tgf]
*/*/*.lo[tgf]
*/*/*/*.lo[tgf]
*/*/*/*/*.lo[tgf]

*.tar*
*/*.tar*
*/*/*.tar*
*/*/*/*.tar*
*/*/*/*/*.tar*

*.Rhistory
*/*.Rhistory
*/*/*.Rhistory
*/*/*/*.Rhistory
*/*/*/*/*.Rhistory
